header{

display:flex;
background-color:none;
margin-top: 0;
text-decoration: none;



}
body{


    margin:0;
}
.babu{

display:flex;
align-items: center;
justify-content: space-between;


}

div ul li{

    list-style: none;
    display:inline-block;
    margin-right:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 80px;
    margin-right:6cm;
    padding:10px;
    
}


    

.mony{

padding-left:3cm;
display:inline-block;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 200px;
color:rgb(49, 46, 42)

}
button{
 font-size: 80px;
 padding: 20px;
 border:15px solid rgb(30, 255, 143);
 border-radius: 70px;
 text-align: center;
   background-color: greenyellow;
   border-color: black;
}


body{
    background-image: url(v.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    height:fit-content;
    width: 100%;
    zoom:100%;
  
    
}

*{


    text-decoration: none;
    color:black;
    padding-top: 0px;
    margin-left: 0cm;
    padding-left:0px;
}
button *{
    font-size: 70px;
    padding-right:4cm;
    

}
button:hover{

    background-color:rgb(152, 197, 191);
    color:white;
    border-color: black;

}
li:hover{

    color:rgb(231, 232, 233);
    background-color: rgb(2, 255, 2);
    border:5px inset black;
    border-radius: 20px;
    text-align: left;

}
h1{

    font-size:600px;
    margin-left:50cm;
    color:white;
    transition: 0.5s;
}
div h2{

    font-size:200px;
    margin-top:0px;
 display:inline-block;
 border:20px solid rgb(246, 253, 246);
   
 
 padding-left: 5cm;
 padding-right:5cm;
 border-radius:200px;
 
}

h2{
    background-image: url(v.jpg)
    color:green;
}


h1:hover{

    -webkit-text-stroke: 2px white;
    color:transparent;
}
h2{
    font-size: 200px;   
    margin-left:50cm;
    margin-top:0px;
    border:10px solid rgb(138, 202, 255);
    display: inline-block;
    padding-left:5cm;
    padding-right:5cm;
    border-radius:9cm;
    color:white;
    background-image: url(v.jpg);

}
h2:hover{
    background-color:Green;
}

p{

    font-size: 200px;
    color:white;
}
header{

position:sticky;
top: 0.5px;


}